@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  html,
  body {
    @apply h-full
  }

  #__next {
    @apply h-full;
  }
}
.ql-editor p{
  margin-bottom: 1em;
  font-size: 160%;
  line-height: 1.75;
  text-align: justify;
  font-family: 'Merriweather', serif;
  box-sizing: border-box;
  cursor: text;
  overflow-wrap: break-word;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 3px;
  padding-top: 0px;
  tab-size: 4;
  text-align: justify;
  text-indent: 0px;
  white-space: pre-wrap;
  word-break: normal;
}

.ql-bubble .ql-tooltip {
  border-radius: 4px;
}

.ql-editor:focus-visible {
  outline: none;
}

.mantine-TextInput-input {
  border: none;
  text-align: center;
  font-size: 160%;
  font-family: 'Merriweather', serif;
  letter-spacing: 2px;
  font-weight: 300;
  color: inherit;
}