@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #__next {
    @apply h-full;
  }

  mark, mark p {
    @apply hover:bg-old-lavender bg-old-lavender/75 hover:cursor-pointer;
  }
}

@font-face {
  font-family: 'Beaufort bold';
  src: url('/fonts/Beaufort-Bold.ttf');
}
@font-face {
  font-family: 'Beaufort';
  src: url('/fonts/Beaufort-Regular.ttf');
}
@font-face {
  font-family: 'Ghaitsa';
  src: url('/fonts/Ghaitsa.ttf');
}